@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import "tailwindcss";

body,html{
  font-family: "Lexend", sans-serif;
}

@theme{
  --color-mainRed: #E62727;
  --color-mainBlue: #1A2A80
}